<div class="login container-fluid bg-light py-2 p-md-5 px-3">
  <div class="form-signin text-center">
    <form [formGroup]="form">
      <h1 class="h3 mb-5 fw-normal">
        <b>
          <span class="text-secondary">HOW</span><span class="text-primary">GREEN</span>
        </b>
      </h1>

      <h2 class="h3 mb-3 fw-normal">Fill in your info</h2>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="John Doe"
          formControlName="name"
          class="form-control form-control--first"
        >
        <label for="floatingInput">Full Name</label>
      </div>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          formControlName="email"
          class="form-control form-control--last"
        >
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          formControlName="password"
          class="form-control form-control--fist"
        >
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          class="form-control form-control--last"
        >
        <label for="floatingPassword">Confirm Password</label>
      </div>

      <button
        class="w-100 btn btn-lg btn-primary"
        type="submit"
        (click)="register()"
      >
        Register
      </button>

      <button
        class="w-100 btn btn-dark mt-2"
        type="submit"
        routerLink="/register"
      >
        Log in
      </button>

      <div class="py-3">
        <a routerLink="/" class="text-muted">Go back</a>
      </div>
    </form>
  </div>
</div>
