<div class="login container-fluid bg-light py-2 p-md-5 px-3">
  <div class="form-signin text-center">
    <form>
      <h1 class="h3 mb-4 fw-normal">
        <a class="text-dark text-decoration-none" [routerLink]="'.'"><span>AVD<b>AFA</b></span></a>
      </h1>

      <h2 class="h3 mb-3 fw-normal">Please sign in</h2>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <button class="w-100 btn btn-lg btn-dark" type="submit">Sign in</button>
    </form>
  </div>
</div>
