<div class="container pt-4">
  <h4>Projects List</h4>
  <div class="list row">

    <div class="col-12">
      <div class="input-group mb-5">
        <input
          type="text"
          class="form-control"
          placeholder="Type to search by title..."
          (keyup)="searchTitle()"
          [(ngModel)]="title"
        />
      </div>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let project of projects; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveProject(project, i)"
        >
          {{ project.title }}
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <div *ngIf="currentProject">
        <h4>Project</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentProject.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentProject.description }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentProject.status ? "status" : "Pending" }}
        </div>
        <div>
          <label><strong>Score:</strong></label>
          {{ currentProject.score }}
        </div>

        <a class="badge badge-warning" routerLink="/projects/{{ currentProject.id }}">
          Edit
        </a>
      </div>

      <div *ngIf="!currentProject">
        <br />
        <p>Please click on a Project...</p>
      </div>
    </div>
  </div>
</div>
