<div class="my-5 container">
  <ngb-alert
    *ngIf="projectStatus.message"
    [type]="projectStatus.type"
    (closed)="projectStatus.message = ''"
    >{{ projectStatus.message }}
  </ngb-alert>

  <div class="d-flex justify-content-between mt-5 mb-4">
    <h4>Add Project</h4>

    <div *ngIf="isFormSubmitted" class="btn-group">
      <button class="btn btn-outline-primary" (click)="newProject()">Add more</button>
      <button class="btn btn-outline-secondary" (click)="goBack()">Go back</button>
    </div>
  </div>

  <div *ngIf="!isFormSubmitted" class="card card-body shadow-sm">
    <form>
      <div class="form-group">
        <label for="title" class="fw-bold">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="project.title"
          name="title"
        />
      </div>

      <div class="form-group mb-3">
        <label for="description" class="fw-bold">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="project.description"
          name="description"
        />
      </div>

      <button (click)="saveProject()" class="btn btn-outline-primary">Submit</button>
    </form>
  </div>
</div>
