<nav class="navbar navbar-expand-sm navbar-light bg-light px-3 mb-3 border-bottom">
  <a class="navbar-brand" [routerLink]="'/'">
    <b>
      <span class="text-secondary">HOW</span><span class="text-primary">GREEN</span>
    </b>
  </a>

  <div class="navbar__main d-flex align-items-center justify-content-end">
    <button class="navbar-toggler mx-2 my-2" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
  </div>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mt-lg-0 align-items-end">
      <li *ngIf="authService.isUserLoggedIn.value" class="nav-item" routerLinkActive="active">
        <a class="nav-link my-md-2 me-2" routerLink="/" (click)="isMenuCollapsed = true">My projects</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <div class="d-flex my-md-2 ml-auto">
          <button
            *ngIf="!authService.isUserLoggedIn.value"
            class="btn btn-dark my-2 my-sm-0"
            type="button"
            routerLink="/login"
            (click)="isMenuCollapsed = true">
            Log In
          </button>

          <button
            *ngIf="authService.isUserLoggedIn.value"
            class="btn btn-dark my-2 my-sm-0"
            type="button"
            (click)="logout(); isMenuCollapsed = true">
            Log out
          </button>
        </div>
      </li>
    </ul>
  </div>

</nav>
